<ion-content>
  <ion-item-group>
    <form  [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
      <ion-item-group >
        <ion-label>
          Current password <ion-label>(*)</ion-label> 
        </ion-label>
        <input type="password" id="password" formControlName="passwordcurrent"/>

      </ion-item-group>
      <ion-item-group>
        <ion-label>
          New password <ion-label>(*)</ion-label> 
        </ion-label>
        <input  type="password" formControlName="passwordnew"/>
        <ion-label class="messagerrror" *ngIf="checkpn">
          {{messagepn}}
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <ion-label>
          Re-type new password <ion-label>(*)</ion-label> 
        </ion-label>
        <input  type="password" formControlName="passwordconfirm"/>
        <ion-label class="messagerrror" *ngIf="check">
          {{message}}
        </ion-label>
      </ion-item-group>
    
      <ion-button type="submit" [disabled] ="formSubmit.invalid" >Confirm</ion-button>
    </form>
  </ion-item-group>
</ion-content>