ion-label {
    display: block;
    margin: auto;
    font-size: 20px;
    margin-top: 60px;
    color: #515151;
    font-weight: 600;
}
ion-button {
    --background: #00B0B2;
    display: block;
    margin: auto;
    width: 7vh;
    height: 7vh;
    --border-radius: 20px;
    font-size: 30px;
}